@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Space+Grotesk&display=swap');

:root {
  --background: #1E1E1E;
  --bg-contact: #945968;

  --error: #FF6961;
  --warning: #FDFD96;
}

#root {
  max-height: 95%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: space-between;

  padding-inline: 1rem;

  background-color: var(--background);
}

.separator {
  height: 1px;
  width: 100%;

  background-color: white;
  opacity: 0.25;
}

.contactMe {
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 9;

  border-radius: 8px 8px 0px 0px;

  background-color: var(--bg-contact);

  /* shadow */
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5rem .75rem;

  a {
    font-family: Nunito Sans !important;
    font-size: 1rem !important;
    color: white !important;
    opacity: 0.75 !important;
    text-align: center !important;

    text-decoration: none !important;

    /* writing-mode: vertical-rl !important; Use vertical-rl for bottom to top */
    /* transform: rotate(180deg); Rotate to make text bottom-to-top */
    /* display: inline-block; Ensure the element respects the writing-mode */
  }
}

.info {
  position: absolute;
  left: 0;
  right: 0;

  font-family: Nunito Sans;
  font-size: .75rem;
  color: white;
  opacity: 0.25;
  text-align: center;
}

.header {
  top: 0;
  margin-block-start: 0.5rem;
}

.footer {
  bottom: 0;
  margin-block-end: 0.5rem;
}

.stationContainer {
  min-height: 45dvh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.stationHeaderWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding-block: .75rem;

  .titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    h2 {
      font-family: Nunito Sans;
      font-size: 1.5rem;
      font-weight: 700;
      opacity: 0.75;
    }

    .clearButton {
      font-family: Nunito Sans;
      font-size: 1rem;
      color: white;
      opacity: 0.75;
      text-decoration: underline;
    }
  }
}

.sameStations {
  font-family: Nunito Sans;
  font-size: 1rem;
  font-weight: 700;
  color: var(--error);
  opacity: 0.75;
  text-align: center;
}

.noSolutions {
  font-family: Nunito Sans;
  font-size: 1rem;
  font-weight: 700;
  color: var(--error);
  opacity: 0.75;
  text-align: center;
}

.skeletonWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skeletonBox {
  height: 15px;
  width: 15px;
}

/* editing ant design input to dark theme */
.ant-input {
  font-family: Nunito Sans !important;
  color: white !important;
  background-color: var(--background) !important;
  border: 1px solid white !important;
  border-radius: 200px 0px 0px 200px !important;
}

::placeholder {
  font-family: Nunito Sans !important;
  color: white !important;
  opacity: 1; /* Firefox */
}

.ant-input-group-addon {
  background-color: trasparent !important;
  color: white !important;
  border-radius: 0px 200px 200px 0px !important;
}

.ant-btn {
  background-color: transparent !important;
  color: white !important;
  border-radius: 0px 200px 200px 0px !important;
}
